<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Welcome Email</title>
    </head>
    <body>
            <div style="width: 600px;">
                <img src='https://comfisa.developer-ideas.com/correos/correo_cliente_mensaje_web_600.png'
                        style="width:600px; height:429px;, margin-bottom: 50px;"/>
                
                <p style="width: 600px; font-size: 16px; line-height: 20px; color: #212121; font-weight: 500; margin-bottom: 10px;">
                    Nombres: <span style="font-size: 18px; color: #3949a7; font-weight: 600;">{{nombres}} {{apellidos}}</span>
                </p>
                
                <p style="width: 600px; font-size: 16px; line-height: 20px; color: #212121; font-weight: 500; margin-bottom: 10px;">
                    Teléfono: <span style="font-size: 18px; color: #3949a7; font-weight: 600;">{{telefono}}</span>
                </p>
                
                <p style="width: 600px; font-size: 16px; line-height: 20px; color: #212121; font-weight: 500; margin-bottom: 10px;">
                    Mensaje: 
                </p>
                
                <p style="width: 600px; font-size: 16px; line-height: 20px; color: #212121; font-weight: 500; margin-bottom: 50px;">
                    <span style="font-size: 18px; color: #3949a7; font-weight: 600;">{{mensaje}}</span>
                </p>
                
                <img src='https://comfisa.developer-ideas.com/correos/inferior_web_600.png'
                        style="width:600px; height:100%;"/>
            </div>
    </body>
</html>