<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Welcome Email</title>
    </head>
    <body>
        <div style="width: 100%;">
            <div style="width: 100%; background-color: #f9f9f9; justify-content: center !important; flex-wrap: wrap; display: flex !important; padding-top: 12.5px; padding-bottom: 12.5px; height: 75px;">
                <img src='https://comfisa.developer-ideas.com/images/logo_web_75.png' style="width:14.2%; height:75px; margin-right:35.8%; margin-left:35.8%;"/>
            </div>
            <div style="width: 100%; padding-top: 50px; padding-bottom: 50px; height: auto;">
                <div style="display: flex !important; flex-wrap: wrap; margin-bottom: 50px; width: 100%;">
                    <div style="align-self: center; width: 30%;">
                        <img src='https://comfisa.developer-ideas.com/images/olvide_password.png' style="margin-right: 20px; width: 250px; height: 250px;"/>
                    </div>
                    <div style="align-self: center; width: 70%;">
                        <div style="width: '100%;, height: auto;">
                            <p style="font-size: 22px; line-height: 26px; color: #212121; font-widght: 600; margin-bottom: 0;">
                                Hola {{nombres}} {{apelidos}}
                            </p>
                            <p style="font-size: 16px; line-height: 18px; color: blue; font-weight: 500; margin-bottom: 0;">
                                Para cambiar tu contraseña 
                            </p>
                            <a href="http://comfisa.developer-ideas.com/olvido-password/nuevo-password/{{usuario}}" target="_blanck"
                                style="font-size: 18px; line-height: 22px; color: brue; font-weight: 700; margin-bottom: 0; text-decoration: underline; cursor: pointer;">
                                Ingrese aquí
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display:flex!important;justify-content:center!important;background-color:#f9f9f9; height:100px; width:100%;padding-top:12.5px;padding-bottom:12.5px;">
                <img src='https://comfisa.developer-ideas.com/images/logo_web_75.png' style="width: 213px; height: 75px;margin-right:53px;"/>
                <div style="display: flex; height: 20px; padding-top:27.5px; padding-bottom:27.5px;">
                    <img src="https://comfisa.developer-ideas.com/images/icono_facebook.png" style="width: 20px; height: 20px; margin-right: 10px;"/>
                    <img src="https://comfisa.developer-ideas.com/images/icono_instagram.png" style="width: 20px; height: 20px; margin-right: 10px;"/>
                    <img src="https://comfisa.developer-ideas.com/images/icono_tiktok.png" style="width: 20px; height: 20px; margin-right: 10px;"/>
                    <img src="https://comfisa.developer-ideas.com/images/icono_twitter.png" style="width: 20px; height: 20px;"/>
                </div>
            </div>
        </div>
    </body>
</html>